<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employee List</h1>
    {% if employee %}
    <table>
        <thead>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Salary</th>
        </thead>
        {% for i in employee %}
        <tr>
            <td>{{i.firstName}}</td>
            <td>{{i.lastName}}</td>
            <td>{{i.salary}}</td>
        </tr>
        {% endfor %}
    </table>
    {%else%}
    <p>No Records</p>
    {% endif %}
</body>
</html>